<div class="container mt-5 container-desktop">
  <div class="row">
    <div class="col-lg-6" *ngFor="let form of formsAvailable">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between card-header-format">
          <div class="d-flex flex-row align-items-center">
            <div class="icon"><i class="bi bi-ui-radios"></i></div>
            <div class="ms-2 c-details">
              <h6 class="mb-0">{{form.nombre_formato}}</h6>
              <span class="card-date">{{form.fecha_inicio}} / {{form.fecha_final}}</span>
            </div>
          </div>
          <div class="card-iterable">{{form.iterable}}</div>
        </div>
        <app-popover-triggers></app-popover-triggers>
        <div class="mt-5">
          <h3 class="heading">{{form.nombre_periodo}}</h3>
          <p class="fs-6">{{form.formato_nombre}}</p>
          <span class="badge rounded-pill text-bg-primary card-role">{{form.rol}}</span>

          <div class="btn-group card-button-group" role="group" aria-label="outlined">
            <button type="button" class="btn btn-outline-primary" (click)="goQuiz(form.id, form.formato_id)">Preguntas</button>
            <button type="button" class="btn btn-outline-primary disabled">Detalles</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<swiper-container class="container container-mobile mt-5 mb-3" navigation="true">
  <swiper-slide>Slide 1</swiper-slide>
  <swiper-slide>Slide 2</swiper-slide>
</swiper-container>
