<div class="pt-3" [ngClass]="tableContainerType">
  <table class="table" *ngIf="questions.length > 0 else elseBlock ">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Pregunta</th>
      <th scope="col">Sección</th>
      <th scope="col">Obligatoria</th>
      <th scope="col">Elemento</th>
      <th scope="col">Tipo</th>
      <th scope="col">Visible</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let question of questions">
      <ng-container *ngIf="questionID === question.idPregunta else elseQuestionBlock">
        <th scope="row">{{questionUpdated.idPregunta}}</th>
        <td>
          <p>{{question.pregunta}}</p>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here"
                      id="floatingTextarea-{{question.idPregunta}}"
                      style="height: 100px" [(ngModel)]="questionUpdated.pregunta"></textarea>
            <label for="floatingTextarea-{{question.idPregunta}}">Editar pregunta</label>
          </div>
        </td>
        <td>
          <p>{{question.seccion}}</p>
          <div class="form-floating">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
              <option value="1">GENERAL</option>
              <option value="2">GENERAL 2 </option>
              <option value="3">GENERAL 3</option>
            </select>
            <label for="floatingSelect">Editar Sección</label>
          </div>
        </td>
        <td>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                   [(ngModel)]="questionUpdated.obligatorio">
            <label class="form-check-label" for="flexSwitchCheckChecked"></label>
          </div>
        </td>
        <td>
          <p>{{question.elemento}}</p>
          <div class="form-floating">
            <select class="form-select" id="floatingSelect2" aria-label="Floating label select example">
              <option value="1">input</option>
              <option value="2">textarea</option>
            </select>
            <label for="floatingSelect2">Editar Sección</label>
          </div>
        </td>
        <td>
          <p>{{question.tipo}}</p>
          <div class="form-floating">
            <select class="form-select" id="floatingSelect3" aria-label="Floating label select example">
              <option value="1">radio</option>
              <option value="2">checkbox</option>
            </select>
            <label for="floatingSelect3">Editar Sección</label>
          </div>
        </td>
        <td>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked-4"
                   [(ngModel)]="questionUpdated.visible">
            <label class="form-check-label" for="flexSwitchCheckChecked"></label>
          </div>
        </td>
        <td>
          <div class="btn-group-sm" role="group">
            <button type="button" class="btn btn-outline-success" (click)="updateQuestion()">Enviar
            </button>
            <button type="button" class="btn btn-outline-danger" (click)="resetChanges()">Cancelar</button>
          </div>
        </td>
      </ng-container>

      <ng-template #elseQuestionBlock>
        <th scope="row">{{question.idPregunta}}</th>
        <td>
          <span>{{question.pregunta}}</span>
          <span class="question-table-children" *ngIf="question.pregunta_hija.length > 0">
            <i class="bi bi-arrow-bar-up"></i>
          </span>
        </td>
        <td>{{question.seccion}}</td>
        <td>
          <div class="form-check form-switch question-td-center">
            <label class="form-check-label" for="flexSwitchCheckChecked"></label>
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked-2" disabled
                   [(ngModel)]="question.obligatorio">
          </div>
        </td>
        <td>{{question.elemento}}</td>
        <td>{{question.tipo}}</td>
        <td>
          <div class="form-check form-switch question-td-center">
            <label class="form-check-label" for="flexSwitchCheckChecked"></label>
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked-3" disabled
                   [(ngModel)]="question.visible">
          </div>
        </td>
        <td>
          <div class="btn-group-sm" role="group">
            <button type="button" class="btn btn-outline-primary"
                    [ngClass]="{'disabled': (questionID > 0 && questionID != question.idPregunta)}"
                    (click)="enableUpdate(question.idPregunta)">Editar
            </button>
            <button type="button" class="btn btn-outline-danger"
                    [ngClass]="{'disabled': (questionID > 0 && questionID != question.idPregunta)}">Eliminar
            </button>
          </div>
        </td>
      </ng-template>
    </tr>
    </tbody>
  </table>

  <ng-template #elseBlock>
    <div class="alert alert-danger" role="alert">
      No hay preguntas registradas para este formato
      <button type="button" class="btn btn-outline-secondary">Agregar pregunta</button>
    </div>

    <button type="button" class="btn btn-outline-primary" (click)="goBack()">Back</button>
  </ng-template>
</div>
