<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a routerLink="admin">
          SSIOC Admin Panel
        </a>
      </li>
      <li>
        <a routerLink="grid">Dashboard</a>
      </li>
      <li>
        <a routerLink="grid">Formatos Vigentes</a>
      </li>
      <li>
        <a routerLink="grid">Cuestionarios</a>
      </li>
      <li>
        <a routerLink="grid">Secciones</a>
      </li>
      <li>
        <a (click)="endSession()">Cerrar sesión</a>
      </li>
      <li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->


</div>
<!-- /#wrapper -->
