<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a routerLink="admin">
                    SSIOC Admin Panel
                </a>
            </li>
            <li>
                <a routerLink="grid">Dashboard</a>
            </li>
            <li>
                <a href="#">Periodos</a>
            </li>
            <li>
                <a href="#">Cuestionarios</a>
            </li>
            <li>
                <a href="#">Secciones</a>
            </li>
            <li>
                <a routerLink="sendmail">Enviar encuesta</a>
            </li>
            <li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->


</div>
<!-- /#wrapper -->
