<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Encuesta n</h5>
    <h6 class="card-subtitle mb-2 text-muted">Nombre del formato</h6>
    <p class="card-text">Constancia que emite el Consejo Distrital (CD) sobre el seguimiento y supervisión a la instalación y habilitación de los Centros de Acopio y Transmisión de Datos (CATD).</p>
    <button type="button" class="btn btn-primary">Contestar</button>
<!--    <a href="#" class="card-link">Another link</a>-->
  </div>
</div>
